<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">User Account Details</h2>

                            <% if (locals.user) { %>
                                <form action="/user/edit" method="post">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                                            name="name" value="<%= locals.user.name %>" />
                                        <label class="form-label" for="form3Example1cg">Your Name</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                                            name="email" value="<%= locals.user.email %>" />
                                        <label class="form-label" for="form3Example3cg">Your Email</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
                                </form>
                                <form action="/user/delete" method="post">
                                    <button type="submit" class="btn btn-danger btn-block mb-4">Delete
                                        Account</button>
                                </form>
                                <% } else { %>
                                    <!-- User Not Found -->
                                    <div class="alert alert-danger" role="alert">
                                        User not found.
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>