<section class="sign-in">
  <div class="container">
    <% if (local.message.success.length> 0) { %>
      <div class="alert alert-success" role="alert">
        <% local.message.success.forEach(function(message) { %>
          <%= message %><br>
            <% }); %>
      </div>
      <% } %>
    
        <% if (local.message.error.length> 0) { %>
          <div class="alert alert-danger" role="alert">
            <% local.message.error.forEach(function(message) { %>
              <%= message %><br>
                <% }); %>
          </div>
          <% } %>
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="/images/reset.jpg" alt="sing up image"></figure>
        <a href="/auth/signin" class="signup-image-link">Sign In</a>
      </div>

      <div class="signin-form">
        <h2 class="form-title">
          <%= locals.title %>
        </h2>
        <form method="POST" class="register-form" id="login-form " action="/auth/reset-password">
          <div class="form-group">
            <label for="password"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="Password" id="your_name" placeholder="Enter Password" />
          </div>
          <div class="form-group">
            <label for="Repeat-Password"><i class="zmdi zmdi-lock-outline"></i></label>
            <input type="Repeat-Password" name="RepeatPassword" id="your_pass" placeholder=" Repeat Password" />
          </div>

          <div class="form-group form-button">
            <input type="submit" name="reset" id="reset" class="form-submit" value="Reset" />
          </div>
        </form>

      </div>
    </div>
  </div>
</section>