<section class="sign-in">
  <div class="container">
    <% if (local.message.success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <% local.message.success.forEach(function(message) { %>
          <%= message %><br>
        <% }); %>
      </div>
    <% } %>

    <% if (local.message.error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <% local.message.error.forEach(function(message) { %>
          <%= message %><br>
        <% }); %>
      </div>
    <% } %>

    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="/images/signin-image.jpg" alt="sign in image"></figure>
        <a href="/auth/signup" class="signup-image-link">Create an account</a>
      </div>

      <div class="signin-form">
        <h2 class="form-title">Sign In</h2>
        <form method="POST" class="register-form" id="login-form" action="/auth/login">
          <div class="form-group">
            <label for="your_email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" name="your_email" id="your_email" placeholder="Your Email" required />
          </div>
          <div class="form-group">
            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="your_pass" id="your_pass" placeholder="Password" required />
          </div>
          <div class="form-group">
            <a href="/auth/forget" class="forget-password">Forget Password</a>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
          </div>
        </form>

        <div class="social-login">
          <span class="social-label">Or login with</span>
          <ul class="socials">
            <!-- <li><a href="/auth/facebook"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li> -->
            <!-- <li><a href="/auth/twitter"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li> -->
            <li><a href="/auth/google"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
